@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-lavendar: #9e72c7;
  --color-sdl: #807E87;
  --color-sl_violet: #C1A2E0;
  --color-crypto_violet: #220A3B;
  --height-header: 44.8vw;
  --font-jose: "Josefin Sans", sans-serif;
  --breakpoint-mm: 23rem;
  --breakpoint-vsm: 16rem;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 5rem;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f5f5f5;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


input:-webkit-autofill {
  background-color: #2f1c26 !important; /* Tailwind's bg-pink-200 */
  -webkit-box-shadow: 0 0 0px 1000px #261820 inset !important;
  -webkit-text-fill-color: #9d174d !important; /* Optional: pink-700 text */
  transition: background-color 9999s ease-out;
}

.dark input:-webkit-autofill {
  background-color: #1f2937 !important; /* dark:bg-gray-800 */
  -webkit-box-shadow: 0 0 0px 1000px #1f2937 inset !important;
  -webkit-text-fill-color: #ffffff !important;
}

@layer base {
  body {
    @apply bg-pink-100 dark:bg-sdl dark:text-pink-300 text-crypto_violet font-jose;
  }
}
@layer utilities {
  .collabButton {
    @apply whitespace-nowrap px-4 pt-3 pb-2 min-w-max max-w-[15rem] lg:max-w-[6.25rem] md:max-w-[6rem] max-md:max-w-[4rem] h-max text-base font-semibold cursor-pointer bg-pink-300 dark:bg-crypto_violet rounded-[18px] text-center border-b-2 border-r-2 border-[#e1c9f7] dark:hover:bg-sdl hover:bg-pink-400 capitalize;
  }
  .collabHeading {
    @apply text-[32px]/8 max-md:text-[24px]/6 font-normal whitespace-nowrap text-center capitalize;
  }
  .collabDiv {
    @apply flex items-center justify-start gap-6 mt-2 mb-6 flex-wrap;
  }
  .resp {
    @apply max-[565px]:flex-col max-[565px]:items-start max-[565px]:gap-0;
  }
  .outer {
    @apply overflow-auto px-2 h-[calc(100vh-7rem)];
  }
  .inverseTheme {
    @apply text-pink-400 dark:text-crypto_violet;
  }

  .inverseBtn {
    @apply bg-pink-200 text-pink-400 dark:bg-lavendar dark:text-sdl;
  }
  .children-placeholder-capitalize * {
    @apply placeholder:capitalize;
  }

  .textar {
    @apply font-light dark:bg-violet-900 bg-pink-300 focus:outline-none md:text-[20px]/8 rounded-md px-1 pt-[0.8rem] pb-[0.4rem]  placeholder-crypto_violet dark:placeholder-pink-400 min-h-[10vh] w-full max-w-sm;
  }
  .inputCls {
    @apply font-light dark:bg-violet-900 bg-pink-300 w-full max-w-sm focus:outline-none md:text-[20px]/8  rounded-md px-1 pt-[0.8rem] pb-[0.4rem]  placeholder-crypto_violet dark:placeholder-pink-400;
  }
  .statusCls {
    @apply font-light dark:bg-violet-900 bg-pink-300 w-full max-w-sm focus:outline-none md:text-[20px]/8 rounded-md px-1 pt-[0.8rem] pb-[0.4rem] text-crypto_violet dark:text-pink-400 capitalize;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

/* custom.css */
